
/***/
header{
    height: 50px;
    background-color: #051334;
    width: 100%;
    left: 0;
    position :fixed;
    top: 0;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }

.logo{
  margin: 10px;
  color: #fff;
  float: left;
}

.logo-img{
    height: 30px;
}

.header-right{
    float: right;
    margin-right: 20px;
}

.header-right a{
    display: block;
    float: left;
    margin-top: 15px;
    color: #fff;
}

.slice{
    margin-left: 10px;
    margin-right: 10px;
}

.menu-img{
    margin: 14px;
    height: 20px;
    float: right;
    display: none;
}