/***/
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
    font-family: "Lucida Grande";
}
  
li {
    list-style: none;
}
  
a {
    text-decoration: none;
}

header{
    height: 50px;
    background-color: #051334;
    width: 100%;
    left: 0;
    position :fixed;
    top: 0;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.logo{
    margin: 10px;
    color: #fff;
    float: left;
}

.logo-img{
    height: 30px;
}

.header-right{
    float: right;
    margin-right: 20px;
}

.header-right a{
    display: block;
    float: left;
    margin-top: 15px;
    color: #fff;
}

.header-right a:hover{
    color: rgb(190, 187, 187);
}

.slice{
    margin-left: 10px;
    margin-right: 10px;
}

.menu-img{
    margin: 14px;
    height: 20px;
    float: right;
    display: none;
}

.responsif-header-side{
    padding-top: 50px;
    margin-top: 5px;
    padding-left: 25px;
    background-color: #051334;
    padding-bottom: 15px;
}

.side-li{
    list-style:none;
    margin-bottom: 15px;
}

.side-li a{
    color: #fff;
}

.side-li a:hover{
    color: rgb(190, 187, 187);
}

.top-wrapper {
    padding: 360px 0 180px 0;
    background-image: url(./img/slide1.jpeg);
    background-size: cover;
    color: white;
    text-align: center;
}

footer {
  background-color:#051334;
  font-size: 80%;
  padding: 7px 0px 0px 20px;
  clear: both;
   color: #ffffff;
   background-color: #051334;
   height: 30px;
   display: block;
}

section.food {
	float: left;
	width: 75%;
  border-right: 1px solid #eeeeee;}
img {
  width: 250px;
}
article {
	clear: both;
	overflow: auto;
	width: 100%;}
hgroup {
	margin-top: 40px;}
figure {
	float: left;
	width: 250px;
	padding: 5px;
	margin: 20px;
	border: 1px solid #eeeeee;}
figcaption {
	font-size: 90%;
	text-align: left;}
aside {
	width: 20%;
	float: left;
	padding: 0px 0px 0px 20px;}
aside section a {
	display: block;
	padding: 10px;
	border-bottom: 1px solid #eeeeee;}
aside section a:hover {
	color: #95c5e0;
	background-color: #efefef;}
.food-wrapper a {
	color: #7bb3e7;
	text-decoration: none;}
h1, h2, h3 {
	font-weight: normal;}
h2 {
	margin: 10px 0px 5px 0px;
	padding: 0px;}
h3 {
	margin: 0px 0px 10px 0px;
	color: #7bb3e7;}
aside h2 {
	padding: 30px 0px 10px 0px;
  color: #000000;}
li {
  list-style: none;
}
#more {
	display: none;
}
#more1 {
	display: none;
}
#more2 {
	display: none;
}
#more3 {
	display: none;
}
#more4 {
	display: none;
}
#more5 {
	display: none;
}

HTML CSS JSResult Skip Results Iframe EDIT ON .mySlides {
    display: none;
}

/* Slideshow container */
.slideshow-container {
    width: 80%;
    height: 30%;
    margin-top: 50px;
    margin-bottom: 40px;

}

/* The dots/bullets/indicators */
.dot {

    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {
        opacity: 1
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 1
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
