/***/
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
    font-family: "Lucida Grande";
}
  
li {
    list-style: none;
}
  
a {
    text-decoration: none;
}

header{
    height: 50px;
    background-color: #051334;
    width: 100%;
    left: 0;
    position :fixed;
    top: 0;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.logo{
    margin: 10px;
    color: #fff;
    float: left;
}

.logo-img{
    height: 30px;
}

.header-right{
    float: right;
    margin-right: 20px;
}

.header-right a{
    display: block;
    float: left;
    margin-top: 15px;
    color: #fff;
}

.header-right a:hover{
    color: rgb(190, 187, 187);
}

.slice{
    margin-left: 10px;
    margin-right: 10px;
}

.menu-img{
    margin: 14px;
    height: 20px;
    float: right;
    display: none;
}

.responsif-header-side{
    padding-top: 50px;
    margin-top: 5px;
    padding-left: 25px;
    background-color: #051334;
    padding-bottom: 15px;
}

.side-li{
    list-style:none;
    margin-bottom: 15px;
}

.side-li a{
    color: #fff;
}

.side-li a:hover{
    color: rgb(190, 187, 187);
}

.top-wrapper {
    padding: 360px 0 180px 0;
    background-image: url(./img/slide1.jpeg);
    background-size: cover;
    color: white;
    text-align: center;
}

footer a {
  color: #000000;
  font-size: 15px;
  padding: 0 20px;
  background-color:#FFFFFF;
}

footer {
  padding-top:10px;
  background-color:#051334;
}
